! see man xterm under the resources heading for explanations
! run `xrdb -merge ~/.Xresources` after altering this file
! run `xrdb -query -all` to see the current settings

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!! begin xterm specific settings
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

! terminus is a really nice font but it cannot display unicode with xterm :(
! xterm*faceName: Terminus-14
xterm.vt100.faceName: Monospace-12:style=Regular:antialias=true

! do not display bold fonts in bold
xterm*AllowBoldFonts: false

! cols x lines ... update with values from $(echo $COLUMNS) and $(echo $LINES)
! xterm*geometry: 126x52

! enable utf-8 encoding - doesnt actually work!
xterm*locale: true
xterm*utf8: 2

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!! end xterm specific settings
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!! begin urxvt specific settings
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

! URxvt*font: xft:Monospace-12:antialias=true
! URxvt*boldFont: xft:Monospace-12:antialias=true
URxvt*font: xft:Terminus-16:antialias=true
URxvt*boldFont: xft:Terminus-16:antialias=true

! disable ctrl+shift mapping
URxvt.iso14755: false
URxvt.iso14755_52: false

! spacing between font letters
URxvt.letterSpace: 0

! disable the scrollbar - my mouse has a wheel lol
URxvt.scrollBar: false

! map F11 to fullscreen
URxvt.perl-ext-common: fullscreen
URxvt.keysym.F11: perl:fullscreen:switch

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!! end urxvt specific settings
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

! scroll quickly
*fastScroll: true

! dark green foreground (same as in ~/.bashrc)
*foreground: #4E9A06
! black background
*background: #000000

! display bold fonts in a different color to make them stand out
*colorBDMode: true
! use green as the bold color (same as in ~/.bashrc)
*colorBD: #98E34D

! flash the current line instead of making the bell sound
*visualBell: true
*visualBellLine: true

! black
*color0: #2E3436
! darkred
*color1: #CC0000
! dark green
*color2: #4E9A06
! brown
*color3: #C4A000
! darkblue
*color4: #3465A4
! darkmagenta
*color5: #75507B
! darkcyan
*color6: #06989A
! lightgrey
*color7: #D3D7CF
! darkgrey
*color8: #555753
! red
*color9: #EF2929
! green
*colorA: #8AE234
! yellow
*colorB: #FCE94F
! blue
*colorC: #729FCF
! magenta
*colorD: #AD7FA8
! cyan
*colorE: #34E2E2
! white
*colorF: #EEEEEC
