General;%FileSize/String%,%FileSize%,%Duration/String%,%Video_Format_WithHint_List%,%Audio_Format_WithHint_List%,
Video;%Format_Profile%,%Encoded_Library%,%BitRate/String%,%Width% x %Height%,
Audio;%Format_Profile%,%Encoded_Library%,%BitRate/String%
